@model List<MyRoutine.Models.Routine>

@using (Html.BeginForm())
{
    <br />
    <hr />
    foreach (var item in Model)
    {
        <div>
            <br />
            <input type="button" value="@item.RoutineName" onclick="location.href='@Url.Action("Toggle","Dashboard", new { Id = item.Id })'" class="form-control @item.Complete.ToString() btn-group-vertical" />
        </div>
    }
    <br />

    <input type="button" value="Finalize Day" onclick="location.href='@Url.Action("Finalize","Dashboard")'" class="form-control btn-xs" />
    }



